# Ignore all CSV files
*.csv
!amostra_novos_clientes.csv
home-credit-default-risk/
processed_data/
csvs/

# Python caching and temporary files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
